.scene-page{
    background-image: url("../../images/santa-Klaus.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100vh;;
    align-items: center;
}

.scene-page-off{
    background-color: black;
    display: flex; 
    flex-direction: column-reverse;
    align-items: flex-end;
   
}

.scene-page-end{
    background-image: url("../../images/Santa-Klaus-death.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100vh;;
    align-items: center;
}

.scene-phrase{
    color: whitesmoke;
    font-size: 6vw;
    width: 70%;
}

.scene-fleche{
    height: 6vw;
    width: 6vw;
    transform: rotate(-90deg);
    margin: 3vw;
    margin-right: 4vw;
      }



.scene-fleche:hover{
    transform: rotate(-90deg) scale(1.5);
}