.scene-page{
    background-image: url("../../images/santa-Klaus1.svg");
    background-repeat: no-repeat;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;;
    align-items: center;

}